<div class="min-h-screen flex flex-col items-center justify-center bg-black relative overflow-hidden">


  <!-- FONDO DIFUMINADO -->
  <div class="absolute inset-0 bg-gradient-to-br from-purple-900 via-black to-blue-900 opacity-60"></div>

  <!-- LOGO -->
  <img 
    src="assets/images/CACPlay.webp"
    alt="CACPlay"
    class="w-52 mb-10 relative z-10 hover:scale-105 transition duration-300"
  >

  <!-- CARD LOGIN GLASS -->
  <div class="backdrop-blur-lg bg-[#C4297D]/50 border border-white/20 shadow-2xl rounded-2xl p-8 w-full max-w-md">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">

      <!-- EMAIL -->
      <div class="flex flex-col">
        <label class="text-white mb-2">Correo electrónico</label>

        <input
        type="email"
        formControlName="email"
        class="w-full px-4 py-2 rounded-lg bg-white/90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-pink-300"
        />

        <small
          *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
          class="text-red-300 mt-1"
        >
          Email inválido
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="flex flex-col">
        <label class="text-white mb-2">Contraseña</label>

        <input
        type="password"
        formControlName="password"
        class="w-full px-4 py-2 rounded-lg bg-white/90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-pink-300"
        />

        <div class="flex items-start gap-2 mt-4 text-white text-sm">
  
        <input
        type="checkbox"
        formControlName="terms"
        class="mt-1 accent-[#243A85]"
        />

        <label>
        Acepto la
        <a href="#" class="underline hover:text-gray-200">
        política de tratamiento de datos personales
        </a>
         y
        <a href="#" class="underline hover:text-gray-200">
        política de uso
        </a>
        </label>

      </div>

        <small
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
          class="text-red-300 mt-1"
        >
          Password requerido
        </small>
      </div>

      <!-- BOTÓN -->
      <div class="flex justify-center gap-4 mt-6">

        <button
        type="submit"
        class="bg-[#243A85] text-white px-6 py-2 rounded-lg transition-all duration-300 hover:bg-white hover:text-[#243A85] hover:border-2 hover:border-[#243A85]"
        >
        Iniciar sesión
        </button>

        <button
        type="button"
        routerLink="/registro"
        class="bg-[#243A85] text-white px-6 py-2 rounded-lg transition-all duration-300 hover:bg-white hover:text-[#243A85] hover:border-2 hover:border-[#243A85]"
        >
        Registro
        </button>

      </div>

    </form>

  </div>

  <!-- MENSAJES -->
  <p *ngIf="errorMessage" class="text-red-400 mt-6 relative z-10">
    {{ errorMessage }}
  </p>

  <p *ngIf="loading" class="text-white mt-6 relative z-10 animate-pulse">
    Iniciando sesión...
  </p>

</div>
