/* 1. PRIMERO: Las importaciones externas siempre arriba de todo */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* 2. SEGUNDO: Las directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. TERCERO: Tu personalización y variables */
:root {
  --swiper-theme-color: #af0562;
  --swiper-navigation-size: 100px;
}

/* El resto de tu código de swiper-container... */
swiper-container {
  --swiper-theme-color: #C4297D; 
  --swiper-navigation-color: #ffffff;
  --swiper-navigation-size: 20px;
  padding-bottom: 50px;
}


/* --- PERSONALIZACIÓN DE BULLETS (PUNTITOS) --- */

/* Estado Standby (Inactivo) */
swiper-container::part(bullet) {
  background-color: transparent; /* Fondo transparente para que se vea el borde */
  border: 1px solid #ffffff;     /* Borde blanco de 1px */
  opacity: 1;                    /* Que no se vea opaco */
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

/* Estado Activo */
swiper-container::part(bullet-active) {
  background-color: #C4297D;     /* Tu color magenta */
  border-color: #C4297D;
  width: 12px;                   /* Un poquito más grande para resaltar */
  height: 12px;
}

/* Estado Hover */
swiper-container::part(bullet):hover {
  background-color: #C4297D;
  border-color: #C4297D;
  transform: scale(1.2);
}

/* --- PERSONALIZACIÓN DE FLECHAS --- */

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  /* Esto asegura que el contenedor de la flecha sea blanco y pequeño */
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
 
}

/* Si quieres que las flechas tengan un área de clic más fácil aunque sean pequeñas */
swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  color: #C4297D;
}